<div class="container">
  <div class="opisRealizowanejPracy">
    <h2>Opis czego bedzie dotyczyl projekt</h2>
    <p>
      Praca in ̇zynierska ma na celu stworzenie zaawansowanego systemu
      rekomendacji kursów online, który wykorzystuje technologie Java, Spring
      oraz sztuczn ̨a inteligencj ̨e do personalizacji do ́swiadcze ́n edukacyjnych
      u ̇zytkowników. W dzisiejszych czasach edukacja online staje si ̨e coraz
      bardziej popularna, a dostarczanie spersonalizowanych do ́swiadcze ́n
      edukacyjnych staje si ̨e kluczowym aspektem sukcesu platform edukacyjnych.
      W ramach tej pracy in ̇zynierskiej proponuje si ̨e stworzenie zaawansowanego
      systemu rekomendacji kursów online, który wykorzystuje j ̨ezyk
      programowania Java, framework Spring oraz sztuczn ̨a inteligencj ̨e.
      Współczesne technologie, takie jak Java i Spring, umo ̇zliwiaj ̨a nie tylko
      so- lidne backendowe fundamenty, ale równie ̇z efektywn ̨a integracj ̨e z
      algorytmami uczenia maszynowego, co pozwala na dostarczenie u ̇zytkownikom
      spersonalizowanych i skutecznych rekomendacji kursów on- line.
    </p>
  </div>
  <div class="rekomendacje">
    <h2>Rekomendacje Kwalifikacji</h2>
    <p>
      Przejrzyj rekomendowane kwalifikacje, które pomogą Ci rozwijać Twoją
      karierę zawodową.
    </p>
  </div>
  <div class="zarzadzanie">
    <h2>Zarządzanie Kwalifikacjami</h2>
    <p>
      Monitoruj i zarządzaj swoimi kwalifikacjami, dokumentuj postępy w
      nabywaniu nowych umiejętności.
    </p>
  </div>
</div>
