.testowa5 {
  background-color: rgb(206, 10, 157);
  padding: 1%;
  font-size: large;
  font-weight: bold;
}

.testowa7 {
  background-color: rgb(238, 143, 214);
  color: white;
  font-size: large;
  font-weight: bold;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-item {
  cursor: pointer;
}
