.testowa5 {
  background-color: rgb(206, 10, 157);
  padding: 2%;
  font-size: large;
  font-weight: bold;
}

.testowa7 {
  background: #fff;
  //color: white;
  font-size: large;
  font-weight: bold;
  display: block;
  border: 2px solid transparent;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-item {
  cursor: pointer;
}

.navbar {
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}
