.products-list {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.searched-params {
  display: flex;
  gap: 0.8rem;
}
.autocomplete-search {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.wyszukiwanieIlosci {
  height: 20%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.wyszukiwanie {
  margin-top: 50px;
  height: 100px;
  width: 400px;
  background-color: wheat;
  text-align: center;
}
