body {
  // background-color: rgb(0, 0, 0);
  background: linear-gradient(to right, #ff80d9, #52a3ff);
}

.calyLogin {
  background: linear-gradient(to right, #ff80d9, #52a3ff);
  height: 100%;
  font-family: 'Arial', sans-serif;
  padding-top: 50px;
  width: 100%;
}
