.testowa2 {
  background-color: rgb(194, 86, 161);
  padding: 10% 5%;
  border-radius: 30px;
  margin: 0 10%;
}

.testowa3 {
  text-align: center;
}
.testowa4 {
  background-color: rgb(207, 117, 170);
  padding: 8% 8%;
  margin-top: 5%;
}

.testowa5 {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  font-size: large;
  padding: 1% 12%;
  text-align: center;
}
